<div  style=" background-color: #7F0203; border-width: 50px; border-color: black; background-image: none;" class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Jesses Pizza Admin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" style="background-color:#930304!important;  background-image:none;"  @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mainmenuitems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Main Menu Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="groupspage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transactions
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="dialog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dialog
            </NavLink>
        </li>
        <TelerikTreeView Data="@FlatData">
            <TreeViewBindings>
                <TreeViewBinding IdField="Id" ParentIdField="ParentIdValue" ExpandedField="Expanded" TextField="Text"  HasChildrenField="HasChildren" IconField="Icon" UrlField="Page" />
            </TreeViewBindings>
        </TelerikTreeView>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public IEnumerable<TreeItem> FlatData { get; set; }
    public class TreeItem
    {
        public int Id { get; set; }
        public string Text { get; set; }
        public int? ParentIdValue { get; set; }
        public bool HasChildren { get; set; }
        public string Icon { get; set; }
        public string Page { get; set; }
        public string ImageUrl { get; set; }
        public bool Expanded { get; set; }

    }
    protected override void OnInitialized()
    {
        LoadFlatData();
    }

    private void LoadFlatData()
    {
        List<TreeItem> items = new List<TreeItem>();
        items.Add(new TreeItem()
        {
            Id = 1,
            Text = "Item Configuration",
            ParentIdValue = null,
            HasChildren = true,
            Icon = "folder",
            ImageUrl="../icons/items.png",
            Expanded = false
        });
  
                items.Add(new TreeItem()
        {
            Id = 4,
            Text = "Main Menu Items",
            ParentIdValue = 1,
            HasChildren = false,
            //Icon = "brush",
            Page="mainmenuitems",
            ImageUrl="../icons/categories.png",
            Expanded = true
        });
        items.Add(new TreeItem()
        {
            Id = 3,
            Text = "Menu Items",
            ParentIdValue = 1,
            HasChildren = false,
    //Icon = "brush",
            Page="menuitems",
            ImageUrl="../icons/items.png",
            Expanded = true
        });
        FlatData = items;
    }

}
