body {
}

tbody tr:nth-child(odd) {
    background-color: #AAAAAA;
    color: #fff;
}

#pickTime {
    position: absolute;
    top: 60px;
    left: 0;
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    font-size: 15pt;
    border: 2px solid red;
    background-color: white;
}
#pickTime>*{
    margin: 2px;
}

#pickTime > input {
    width: 30px;
    height: 30px;
    font-size: 15pt;
}

p {
  width: 400px;
}
