<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Telerik" value="https://nuget.telerik.com/nuget/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="vapingturk@gmail.com" />
      <add key="ClearTextPassword" value="rky7nhr!CTP6rdy6udf" />
    </Telerik>
  </packageSourceCredentials>
</configuration>